body {
  background-color: #EBE49C;
  margin: 0 10%;
  font-family:sans-serif;
  }

  h1 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
  }
  h2 {
    color:#d1633c;
    font-size: 1em;
  }
img {
	max-width: 100%;
}
